.intro-wrapper {
    position: relative;
    z-index: 3; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-bottom: 4rem; /* leaves space above the footer */
    }

