.footer {
  background-color: black;
  color: #fff;
  padding: 1rem 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: auto; 
 /* position: fixed;*/
 bottom: 0;
 width: 100%;
 z-index: 5;
 max-height: 30vh;

}

.footer-content {
  max-width: 900px;
  margin: 0 auto;
}

.footer-links {
  margin-top: 0.5rem;
}

.footer-links a {
  color: #00bcd4;
  margin: 0 0.75rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #0097a7;
}
